@using Microsoft.AspNetCore.Identity
@using crudProdutos.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var appUser = await UserManager.GetUserAsync(User);
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area=""
           asp-page="/Index" tit1e="Manage">Olá, @appUser.Nome.Substring(0, appUser.Nome.IndexOf(' '))!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="" asp-page="/Login" 
                asp-page-handler="logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white text-light" id="register" asp-area="" asp-page="/NovoUsuario">Quero me cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-light" id="login" asp-area="" asp-page="/Login">Entrar</a>
        </li>
    }
</ul>