@page "{id:int?}" //Url mais acessível ao entendimento
@model crudProdutos.Pages.ProdutoTestCompleto.AdicionarModel

@{
    ViewData["titulo"] = "Novo Produto";
}

<style>
    .custom-file-label::after{
        content: "Procurar";
    }
</style>

<main class="container mt-3">
    <div class="row justify-content-md-center">
        <div class="col-sm-12">
            <h1>@ViewData["titulo"]</h1>
            <hr />
            <form method="post" class="mt-3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Produtos.Nome" class="control-label"></label>
                    <input asp-for="Produtos.Nome" class="form-control col-6" />
                    <span asp-validation-for="Produtos.Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Produtos.Descricao" class="control-label"></label>
                    <textarea asp-for="Produtos.Descricao" class="form-control col-6" rows="6"></textarea>
                    <span asp-validation-for="Produtos.Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Produtos.Preco" class="control-label"></label>
                    <input asp-for="Produtos.Preco" class="form-control col-2" />
                    <span asp-validation-for="Produtos.Preco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Produtos.Estoque" class="control-label"></label>
                    <input asp-for="Produtos.Estoque" class="form-control col-2" />
                    <span asp-validation-for="Produtos.Estoque" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImagemProduto" class="control-label"></label>
                    <div class="custom-file col-4 d-block">
                        <input type="file" asp-for="ImagemProduto" class="custom-file-input" accept="image/*"/>
                        <label class="custom-file-label">Clique aqui para alterar a imagem.</label>
                    </div>
                    <span asp-validation-for="ImagemProduto" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <img src="@Model.CaminhoImagem" class="image-thumbnail" asp-append-version="true" 
                    style="max-height:300px; max-width:300px; border:solid 0.5px gray; border-radius:5px;" />
                </div>

                <div class="form-group text-left">
                    <a asp-page="./Listar" class="btn btn-info">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
    @{
        await Html.RenderPartialAsync("_CustomConfirm");
    }
    @{
        await Html.RenderPartialAsync("_ConsultaCEP");
    }
}