@page
@{
    ViewData["titulo"] = "Cadastro Realizado com Sucesso!";
}
<h1>@ViewData["titulo"]</h1>


<p>
    Seus dados foram recebidos e seu cadastro foi realizado com sucesso. Para fazer o login agora, <a href="/Login">clique aqui!</a>.
</p>

<p>
    <a class="btn btn-outline-success" href="/Login">C1ique aqui para fazer o login!</a>
</p>