@page
@model LoginModel
@{
    ViewData["titulo"] = "Login de Usuário";
}

<div class="row justify-content-center">
    <form class="form-signin align-self-center" method="post" asp-page="/Login" >
        <h1 class="mt-5 mb-3 font-weight-normal">Identifique-se, por favor!</h1>

        <style type="text/css">
            .val-summary ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>
        <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>

        <input asp-for="Dados.Email" class="form-control" placeholder="Digite aqui seu e-mail" required autofocus />
        <span asp-validation-for="Dados.Email" class="text-danger"></span>
            
        <input asp-for="Dados.Senha" class="form-control mt-3" placeholder="Digite aqui sua senha" required />
        <span asp-validation-for="Dados.Senha" class="text-danger"></span>
        
        <div class="custom-checkbox mt-3">
            <label asp-for="Dados.Lembrar">
                <input asp-for="Dados.Lembrar" />
                @Html.DisplayNameFor(m => m.Dados.Lembrar)
            </label>
        </div>

        <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button>
        <p class="mt-3">Ainda nao é cadastrado? <a href="/NovoUsuario">Clique aqui</a> para se cadastrar.</p>
        <p class="mt-3">Esqueceu sua senha? <a href="/RecuperarSenha">Clique aqui</a> para recupera-la.</p>
    </form>
</div>


@section Scripts {
    <partial name:"_ValidationScriptsPartial" />
}