@page
@model PrivacidadeModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade garante que seus dados serão armazenados com segurança.</p>
